@import '../variables';

.custom-text-field {
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
  color: var(--primaryColor);
  cursor: text;

  &__wrapper {
    padding: 0;
    position: relative;
    border-radius: inherit;
    box-sizing: border-box;
  }

  &__label {
    padding: 0;
    position: absolute;
    left: 0;
    box-sizing: border-box;

    color: var(--primaryLabelsColor);
    font-size: 1rem;

    transition:
      color 0.3s ease-in-out,
      transform 0.3s ease-in-out;
    transform-origin: bottom left;
  }

  &__input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-size: 1rem;

    background: none;

    &:focus {
      outline: none;
    }
  }

  &__error {
    color: var(--errorClr);
    font-size: 0.75rem;
    padding-left: 12px;
  }

  &--outlined {
    .custom-text-field {
      &__label {
        padding: 0 14px;
        top: 1rem;
      }

      &__input {
        padding: 16.5px 14px;
      }

      &__set {
        margin: 0;
        padding: 0 8px;
        position: absolute;
        bottom: 0;
        right: 0;
        top: -5px;
        left: 0;
        box-sizing: border-box;

        border: solid 1px var(--primaryBordersColor);
        border-radius: inherit;

        transition: border 0.3s ease-in-out;
        pointer-events: none;
      }

      &__legend {
        padding: 0;
        opacity: 0;
        max-width: 0;

        font-size: 0.75rem;

        transition:
          max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms,
          opacity 0.3s ease-in-out;
        white-space: nowrap;
      }
    }

    &:hover .custom-text-field__set {
      border: solid 1px var(--primaryColor);
    }

    &:focus-within {
      .custom-text-field {
        &__label {
          padding: 0 18px;

          color: var(--activeColor);
          transform: translateY(-140%) scale(0.75);
        }

        &__set {
          border: 2px solid var(--activeColor);
        }

        &__legend {
          padding: 0 4px;
          max-width: 100%;
          opacity: 0;

          color: var(--activeColor);
          font-size: 0.75rem;
        }
      }
    }
  }

  &--standard {
    .custom-text-field {
      &__label {
        top: calc(1rem + 4px);
      }

      &__wrapper {
        padding-top: 1rem;
      }

      &__input {
        padding: 4px 0 5px;
        border-bottom: 1px rgba(0, 0, 0, 0.87) solid;
        transition: border-bottom 0.3s ease-in-out;
      }

      &__error {
        padding-left: 0;
      }
    }

    &:hover .custom-text-field__input {
      border-bottom: solid 2px var(--primaryColor);
    }

    &:focus-within {
      .custom-text-field {
        &__label {
          color: var(--activeColor);
          transform: translateY(-100%) scale(0.75);
        }

        &__input {
          border-bottom: 2px solid var(--activeColor);
        }
      }
    }
  }

  &--filled {
    border-radius: 4px 4px 0 0;

    transition: background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &:hover .custom-text-field__input {
      background-color: rgba(0, 0, 0, 0.09);
    }

    .custom-text-field {
      &__label {
        padding: 0 14px;
        top: calc(1rem + 4px);
      }

      &__input {
        padding: 25px 12px 8px;
        width: 100%;
        border-radius: inherit;
        border-bottom: 1px var(--primaryColor) solid;
        transition:
          border-bottom 0.3s ease-in-out,
          background-color 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.06);
      }
    }

    &:focus-within {
      .custom-text-field {
        &__label {
          color: var(--activeColor);
          transform: translateY(-100%) scale(0.75);
        }

        &__input {
          border-bottom: 2px solid var(--activeColor);
        }
      }
    }
  }

  &--disabled {
    opacity: 0.5;

    &.custom-text-field {
      cursor: unset;
      pointer-events: none;
    }
  }

  &--error {
    .custom-text-field {
      &__label {
        color: var(--errorClr);
      }

      &__set {
        border: 1px solid var(--errorClr);
      }

      &__input,
      &__wrapper {
        border-color: var(--errorClr);
      }
    }

    &:focus-within {
      .custom-text-field__label {
        color: var(--errorClr);
      }

      &.custom-text-field {
        &--outlined .custom-text-field__set {
          border: solid 2px var(--errorClr);
        }

        &--standard .custom-text-field__input {
          border-bottom: solid 2px var(--errorClr);
        }

        &--filled .custom-text-field__input {
          background-color: rgba(0, 0, 0, 0.09);
          border-bottom: solid 2px var(--errorClr);
        }
      }
    }

    &:hover.custom-text-field {
      &--outlined .custom-text-field__set {
        border: solid 2px var(--errorClr);
      }

      &--standard .custom-text-field__input {
        border-bottom: solid 2px var(--errorClr);
      }

      &--filled .custom-text-field__input {
        background-color: rgba(0, 0, 0, 0.09);
        border-bottom: solid 2px var(--errorClr);
      }
    }
  }

  &--entered {
    &.custom-text-field--outlined {
      .custom-text-field__label {
        padding: 0 18px;
        transform: translateY(-140%) scale(0.75);
      }
    }

    &.custom-text-field--filled {
      .custom-text-field__label {
        transform: translateY(-100%) scale(0.75);
      }
    }

    .custom-text-field {
      &__label {
        transform: translateY(-100%) scale(0.75);
      }

      &__legend {
        max-width: 100%;
        padding: 0 4px;
      }
    }
  }
}
